<p id="notice"><%= notice %></p>

<p>
  <strong>Start from:</strong>
  <%= @appointment.start_from %>
</p>

<p>
  <strong>End at:</strong>
  <%= @appointment.end_at %>
</p>

<p>
  <strong>Doctor:</strong>
  <%= @appointment.doctor_id %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
